body {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation */

nav {
  text-align: center;
  padding: 20px;
}

/* Hero Section */

.hero-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  text-align: center;
}

.hero-background {
  display: none;
}

.hero-item {
  text-align: center;
}

.hero-item h1 {
  font-size: 35px;
  font-weight: 700;
}

.hero-item button {
  text-decoration: none;
  background-color: #4996a6;
  padding: 15px 35px;
  border: 0;
  border-radius: 40px;
  color: white;
}

.hero-buttons-mobile {
  display: none;
}

.hero-item button:hover {
  background-color: transparent;
  border: 1px solid black;
  color: #000;
}

.hero-buttons {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  gap: 30px;
}

.hero-buttons .button-two {
  background-color: #8561ad;
}

/* First Page Break */

/* Fawzaan's */
.zero-one-container-mobile {
  display: none;
}

.main-content p {
  width: 70%;
  margin: auto;
}

.zero-two-container-mobile {
  display: none;
}
.zero-one-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 50px;
  justify-content: center;
}

.zero-one-container .vl {
  border-left: 1px solid black;
  text-align: center;
  padding: 50%;
  margin-left: 50%;
}

.zero-one-container span {
  border: 1px solid #000;
  width: fit-content;
  padding: 10px 14px;
  border-radius: 100%;
}

/* Lanre's
.pendulum {
  margin-top: 20px;
}

.pendulum .vertical-line {
  width: 50%;
  height: 70px;
  border-right: 1px solid #000;
}

.pendulum .zero-one-wrapper {
  text-align: center;
}

.pendulum .zero-one {
  padding: 10px 12px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 50%; */

/* Gallery */

.gallery-image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 15px;
  padding: 50px;
}

.gallery-image-container img {
  width: 100%;
  border-radius: 50px;
}

/* Main content */

.main-content {
  text-align: center;
  padding-bottom: 40px;
}

.main-content h3 {
  letter-spacing: 5px;
  text-align: center;
  font-size: 15px;
  color: #4996a6;
}

/* Second Page Break */

.zero-two-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 50px;
  justify-content: center;
  height: 100%;
}
.zero-two-container .vl {
  border-left: 1px solid black;
  text-align: center;
  padding: 50%;
  margin-left: 50%;
}

.zero-two-container span {
  border: 1px solid rgb(0, 0, 0);
  width: fit-content;
  padding: 10px 12px;
  border-radius: 100%;
}

/* Footer */

footer {
  background-size: cover;
  background: linear-gradient(rgba(74, 150, 166, 0.6), rgba(74, 150, 166, 0.6)),
    url(images/background\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 0%;
}

footer .footer-item {
  text-align: center;
  padding: 50px;
}

.footer-item button {
  background-color: #4996a6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border: 0;
  border-radius: 40px;
  color: white;
}

.footer-item button:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

/* Mobile Responsiveness */

@media (max-width: 576px) {
  nav {
    background-color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
  }

  .hero-section {
    margin-top: 100px;
  }
  .hero-section img {
    display: none;
  }

  .hero-item h1 {
    font-size: 32px;
  }
  .hero-section {
    display: block;
  }

  .hero-buttons {
    display: grid;
    grid-row: 1fr 1fr;
    margin-top: 20px;
  }

  .zero-one-container {
    display: none;
  }

  .hero-section .hero-item p {
    width: 60%;
    margin: auto;
  }

  .gallery-image-container {
    display: block;
    text-align: center;
  }

  .gallery-image-container img {
    margin-bottom: 15px;
  }

  .main-content p {
    width: 80%;
    margin: auto;
  }

  .zero-one-container-mobile {
    display: flex;
    gap: 20px;
    margin-top: 50px;
  }

  .zero-one-container-mobile .hl {
    width: 35%;
    height: 1px;
    background-color: #000;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .zero-one-container-mobile span {
    border: 1px solid #000;
    width: fit-content;
    padding: 10px 14px;
    border-radius: 100%;
  }

  .zero-two-container-mobile {
    display: block;
  }

  .zero-two-container {
    display: none;
  }

  .zero-two-container-mobile {
    display: flex;
    gap: 20px;
    margin-top: 50px;
  }

  .zero-two-container-mobile .hl {
    width: 35%;
    height: 1px;
    background-color: #000;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .zero-two-container-mobile span {
    border: 1px solid #000;
    width: fit-content;
    padding: 10px 14px;
    border-radius: 100%;
  }

  footer {
    background-image: linear-gradient(
        rgba(74, 150, 166, 0.6),
        rgba(74, 150, 166, 0.6)
      ),
      url(images/background\ image.jpg);
    background-position: 50%;
  }
}

/* Tablet */

@media (min-width: 577px) and (max-width: 991px) {
  nav {
    background-color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
  }

  header .hero-section {
    display: block;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(images/herooo-image1.png);
    background-position: 50%;
    padding: 20px;
    width: 100%;
  }

  header .hero-item h1 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    padding-top: 10px;
  }

  header .hero-item p {
    color: #fff;
    width: 70%;
    margin: auto;
  }

  .hero-section img {
    display: none;
  }

  .hero-item button {
    padding: 15px 35px;
    margin-top: 20px;
  }

  .gallery-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .gallery-image-container img {
    margin-bottom: 15px;
  }

  .zero-one-container {
    display: none;
  }

  .zero-one-container-mobile {
    display: flex;
    gap: 20px;
    margin-top: 50px;
  }

  .zero-one-container-mobile .hl {
    width: 35%;
    height: 1px;
    background-color: #000;
    margin: auto;
  }

  .zero-one-container-mobile span {
    border: 1px solid #000;
    width: fit-content;
    padding: 10px 14px;
    border-radius: 100%;
  }

  .main-content p {
    width: 80%;
    margin: auto;
  }

  .zero-two-container {
    display: none;
  }

  .zero-two-container-mobile {
    display: flex;
    gap: 50px;
    margin-top: 50px;
  }

  .zero-two-container-mobile .hl {
    width: 35%;
    height: 1px;
    background-color: #000;
    margin: auto;
  }

  .zero-two-container-mobile span {
    border: 1px solid #000;
    width: fit-content;
    padding: 10px 14px;
    border-radius: 100%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  nav {
    background-color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
  }

  header .hero-section {
    display: block;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(images/herooo-image1.png);
    background-position: 50%;
    padding: 20px;
    width: 100%;
  }

  header .hero-item h1 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    padding-top: 10px;
  }

  header .hero-item p {
    color: #fff;
    width: 70%;
    margin: auto;
  }

  .hero-section img {
    display: none;
  }

  .hero-item button {
    padding: 15px 35px;
    margin-top: 20px;
  }

  .zero-one-container {
    display: none;
  }
  .zero-two-container {
    display: none;
  }

  .zero-one-container-mobile {
    display: flex;
    gap: 20px;
    margin-top: 50px;
  }

  .zero-one-container-mobile .hl {
    width: 35%;
    height: 1px;
    background-color: #000;
    margin: auto;
  }

  .zero-one-container-mobile span {
    border: 1px solid #000;
    width: fit-content;
    padding: 10px 14px;
    border-radius: 100%;
  }

  .main-content p {
    width: 70%;
    margin: auto;
  }

  .gallery-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .zero-two-container-mobile {
    display: flex;
    gap: 20px;
    margin-top: 50px;
  }

  .zero-two-container-mobile .hl {
    width: 35%;
    height: 1px;
    background-color: #000;
    margin: auto;
  }

  .zero-two-container-mobile span {
    border: 1px solid #000;
    width: fit-content;
    padding: 10px 14px;
    border-radius: 100%;
  }
}
